<main class="mt-auto">
  <div class="relative w-full h-full bg-white"></div>
</main>

<section class="flex py-50">
  <div class="container mx-auto justify-items-center">
    <!-- Greeting -->
    <div class="mb-2">
      <span id="typed" class="text-20 sm:text-2xl text-gray-300"></span>
    </div>

    <!-- Nama -->
    <h1 class="flex font-bold text-white text-3xl sm:text-5xl">
      <span class="flex text-center sm:text-5xl font-light text-gray-300"
        >I'm</span
      >
      Kaiden
    </h1>

    <!-- Subtitle -->
    <p class="mt-2 text-center text-sm sm:text-lg text-[#a0a0a0]">
      Full Stack Web Developer.
    </p>

    <!-- Button -->
    <div class="flex justify-center mt-6">
      <a
        href="/about"
        class="rounded-xl py-2 px-3 text-m text-black bg-white hover:text-[#b8b8b8] transition duration-300"
        >See About Me</a
      >
    </div>
  </div>
</section>

<script>
  import Typed from "typed.js";

  new Typed("#typed", {
    strings: ["Assalamu'aliakum,", "Hola,", "Hello,", "こんにちは,"],
    typeSpeed: 20,
    backSpeed: 50,
    loop: true,
  });
</script>
