<main>
  <div></div>
</main>

<section class="">
  <div
    class="flex flex-col items-center justify-center min-h-screen text-white"
  >
    <!-- Greeting -->
    <div class="mb-2">
      <span id="typed" class="text-20 sm:text-2xl text-gray-300"></span>
    </div>

    <!-- Nama -->
    <h1 class="mt-2 text-3xl sm:text-5xl font-light text-gray-300">
      I'm <span class="font-bold text-white">Kaiden</span>
    </h1>

    <!-- Subtitle -->
    <p class="mt-2 text-sm sm:text-lg text-[#a0a0a0]">
      Full Stack Web Developer.
    </p>

    <!-- Button -->
    <div class="mt-8">
      <a
        href="/about"
        class="rounded-full py-3 px-4 text-m text-black bg-white hover:text-[#b8b8b8] transition duration-300"
        >See About Me</a
      >
    </div>
  </div>
</section>

<script>
  import Typed from "typed.js";

  new Typed("#typed", {
    strings: ["Assalamu'aliakum,", "Hola,", "Hello,", "こんにちは,"],
    typeSpeed: 20,
    backSpeed: 50,
    loop: true,
  });
</script>
